<ion-modal-view class="ionic_datepicker_modal">
  <ion-header-bar class="header">
    <h1 class="title">来嘛</h1>
  </ion-header-bar>
  <ion-content class="ionic_datepicker_modal_content">
   <div>对话框类容</div>
  
  </ion-content>
  <ion-footer-bar class="footer">
    <div class="row padding_zero">
      <button class="button button-clear button-block button_today"  
              ng-click="setIonicDatePickerTodayDate()">OK
      </button>
      <button class="button button-clear button-block button_close"
              ng-click="closeIonicDatePickerModal()">Cancel
      </button>
    </div>
  </ion-footer-bar>
</ion-modal-view>
