  <ion-view view-title="常用功能">

    <ion-content class="has-header" scroll="false">

        <div class="card ">
          <ion-scroll>
            <ion-list>
              <ion-item >
                工单
              </ion-item>
              <ion-item >
                项目管理
              </ion-item>

              <ion-item >
                资料库
              </ion-item>
              <ion-item >
                加班管理
              </ion-item>
              <ion-item >
                休假管理
              </ion-item>

              <ion-item >
                签到
              </ion-item>

            </ion-list>
          </ion-scroll>
        </div>

    </ion-content>
  </ion-view>
