<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive ">

  <!-- Dashboard Tab -->
  <ion-tab title="消息" icon-off=" ion-chatbox-working" icon-on="ion-chatbox-working"  href="#/tab/message">
    <ion-nav-view name="tab-message"></ion-nav-view>
  </ion-tab>

  <!-- Chats Tab -->
  <ion-tab title="常用" icon-off="ion-android-apps" icon-on="ion-android-apps" href="#/tab/main">
    <ion-nav-view name="tab-main"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="我的账户" icon-off="ion-android-person" icon-on="ion-android-person" href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>


</ion-tabs>
